html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bangers', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10vw;
    height: 21vh;
    margin-left: 6vw;
}

.cabecera h3 {
    background-color: rgb(250, 195, 43);
    margin-left: 4vw;
    margin-top: -.5vh;
}

/* BARRA */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

nav a {
    margin: 1vw;
    color: white;
    margin: 1vw;
    text-shadow: 0.5px 1.5px 0px black;
}

a:hover {
    color: rgb(250, 195, 43);
}

/* CONTENIDO PRINCIPAL */
main {
    max-width: 55vw;
    margin: auto;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
    backdrop-filter: blur(3px);
    min-height: 60vh;
}

section {
    flex-wrap: wrap;
}

.titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo2 h2 {
    text-shadow: 2px 2px 1px black;
    color: rgb(250, 195, 43);
    font-size: 2vw;
}

.casco {
    width: 5vw;
}

.disco {
    width: 8vw;
}

article h3 {
    color: rgb(250, 195, 43);
    text-shadow: 2px 2px 2px black;
    font-size: 1.7vw;
}

/* TABLA */
caption,
.tit {
    color: white;
    font-size: 1vw;
}

th {
    color: black;
    background-color: rgb(250, 195, 43);
    margin: 1vw;
}

table {
    margin: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.507);
}

/* FORMULARIO */
form {
    width: 55vw;
    background-color: rgba(255, 255, 255, 0.507);
    margin: auto;
}

.permiso {
    border: 1px solid black;
}

legend {
    font-size: 1.5vw;
    color: rgb(250, 195, 43);
    text-shadow: 2px 2px 2px black;
}

input {
    border: none;
    border-bottom: 1.5px solid #000000;
    background-color: rgb(250, 195, 43);
    color: black;
    font-family: 'Bangers', cursive;
}

.text,
.enviar {
    width: 13vw;
    margin-right: 1vw;
}

select {
    background-color: rgb(250, 195, 43);
    color: black;
    font-family: 'Bangers', cursive;
    width: 10vw;
}

fieldset {
    border: none;
    text-align: left;
}

.adress {
    width: 30vw;
}

.date {
    width: 10vw;
}

.closest {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.closest label+input {
    margin-left: 1.5vw;
}

/* REGLAMENTO */
.reglas {
    background-color: rgba(255, 255, 255, 0.507);
    width: 90%;
    margin: auto;
}

.reglas h3 {
    color: rgb(250, 195, 43);
    text-shadow: 1px 1px 2px black;
    font-size: 1.5vw;
    margin-left: 1vw;
}

.letra {
    list-style: lower-latin;
}

.circle {
    list-style: circle;
}

/* INFO JUEGOS */
.ubication {
    display: flex;
    justify-content: space-around;
}

.ubication article {
    margin: 0.3vw;
}

/* PIE */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 0.9vw;
}

.logo-pie {
    width: 3.5vw;
    height: 5.5vh;
    margin-top: 2vh;
}